@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
    background: darkslategray;
    color: darkgray;
    border-bottom: 1px solid black;
}
.header-icon {
    font-size: 25px;
}

.header-name {
    font-size: 25px;
}
